/*========================
SCROLL ANIMATION SETTINGS	
=========================*/
//.scroll-down
//.scroll-up
//.scroll-right
//.scroll-left
//.scroll-opacity
//.scroll-skew
//.scroll-white-mask
//.text-maskup
//.text-maskdown

/*---- Scroll Down ----*/
.scroll-target .scroll-down,
.scroll-target.scroll-down{
	@media screen and (min-width: 320px){
	transform: translate(0, -50px);
	opacity:0;
	transition: all .75s linear;
}
	@media screen and (min-width: 768px){transition-delay: var(--d, 0) ;}
}
.scroll-target.scroll .scroll-down,
.scroll-target.scroll.scroll-down{
	@media screen and (min-width: 320px){
	transform: translate(0, 0);
	opacity:1;
	}
}

/*---- Scroll up ----*/
.scroll-target .scroll-up,
.scroll-target.scroll-up{
	@media screen and (min-width: 320px){
	transform: translate(0, 50px);
	opacity:0;
	transition: all .75s ease-in-out;
	}
	@media screen and (min-width: 768px){transition-delay: var(--d, 0) ;}
}
.scroll-target.scroll .scroll-up,
.scroll-target.scroll.scroll-up{
	@media screen and (min-width: 320px){
	transform: translate(0, 0);
	opacity:1;
	}
}

/*---- Scroll right ----*/
.scroll-target .scroll-right,
.scroll-target.scroll-right{
	@media screen and (min-width: 320px){
	transform: translate(-50px, 0);
	opacity:0;
	transition: all 1s ease-in-out;
	}
	@media screen and (min-width: 768px){transition-delay: var(--d, 0) ;}
}
.scroll-target.scroll .scroll-right,
.scroll-target.scroll.scroll-right{
	@media screen and (min-width: 320px){
	transform: translate(0, 0);
	opacity:1;
	}
}

/*---- Scroll left ----*/
.scroll-target .scroll-left,
.scroll-target.scroll-left{
	@media screen and (min-width: 320px){
	transform: translate(50px, 0);
	opacity:0;
	transition: all .75s ease-in-out;
}
  @media screen and (min-width: 768px){
    transition-delay: var(--d, 0) ;
  }
}
.scroll-target.scroll .scroll-left,
.scroll-target.scroll.scroll-left{
	@media screen and (min-width: 320px){
	transform: translate(0, 0);
	opacity:1;
	}
}

/*---- Scroll opacity ----*/
.scroll-target.scroll-opacity,
.scroll-target .scroll-opacity{
	@media screen and (min-width: 320px){
	opacity:0;
	transition: all 1.2s ease-in-out;
	}
  @media screen and (min-width: 768px){
    transition-delay: var(--d, 0) ;
  }
}

.scroll-target.scroll .scroll-opacity,
.scroll-target.scroll.scroll-opacity{
	@media screen and (min-width: 320px){
	opacity:1;
	}
}

/*---- Scroll skew ----*/
.scroll-target .scroll-skew,
.scroll-target.scroll-skew{
	@media screen and (min-width: 320px){
		clip-path: polygon(0 0, 0 0, 0 0);
		transition: all 1.2s ease-in-out;
	}
	@media screen and (min-width: 768px){
    transition-delay: var(--d, 0) ;
  }
}
.scroll-target.scroll .scroll-skew,
.scroll-target.scroll.scroll-skew{
	@media screen and (min-width: 320px){
		clip-path: polygon(0 0, 200% 0, 0 200%);
	}
}


/*---- Scroll White Mask ----*/
.scroll-target .scroll-white-mask,
.scroll-target.scroll-white-mask{
	position: relative;
	overflow: hidden;
	@media screen and (min-width: 320px){
		&:after{
			content:"";
			display: block;
			width: calc(100% + 1px);
			height:100%;
			background:white;
			position:absolute;
			top:0;
			left: -1px;
			transition-property: all;
			transition-duration: 1.5s;
			transition-timing-function: ease-in-out;
			transition-delay: var(--d, 0) ;
		}
	}
	@media screen and (min-width: 768px){
		&:after{
			transition-delay: var(--d, 0) ;
		}
	}
}
.scroll-target.scroll .scroll-white-mask,
.scroll-target.scroll.scroll-white-mask{
	@media screen and (min-width: 320px){
		&:after{
			left:100%;
		}	
	}
}

/*---- Scroll text mask up ----*/
.scroll-target .text-maskup,
.scroll-target.text-maskup{
	@media screen and (min-width: 320px){
		clip-path: inset(0 0 100% 0);
		transform: translateY(100%);
		transition: clip-path .5s ease-out, transform .75s ease-out;
	}
	@media screen and (min-width: 768px){
    transition-delay: var(--d, 0) ;
  }
}
.scroll-target.scroll .text-maskup,
.scroll-target.scroll.text-maskup{
	clip-path: inset(0 0 0 0);
	transform: translateY(0);
}

/*---- Scroll text mask down ----*/
.scroll-target .text-maskdown,
.scroll-target.text-maskdown{
	@media screen and (min-width: 320px){
		clip-path: inset(100% 0 0 0);
		transform: translateY(-50%);
		transition: clip-path .75s ease-out, transform .75s ease-out;
	}
	@media screen and (min-width: 768px){
    transition-delay: var(--d, 0) ;
  }
}
.scroll-target.scroll .text-maskdown,
.scroll-target.scroll.text-maskdown{
	clip-path: inset(0 0 0 0);
	transform: translateY(0);
}

/*---- Scroll text scaleup ----*/
.scroll-target .scroll-scaleup,
.scroll-target.scroll-scaleup{
	@media screen and (min-width: 320px){
		transform: scale(.75);
		transition: transform .3s ease-in-out;
	}
	@media screen and (min-width: 768px){
    transition-delay: var(--d, 0) ;
  }
}
.scroll-target.scroll .scroll-scaleup,
.scroll-target.scroll.scroll-scaleup{
  transform: scale(1);
}

